---
- name: Installer les paquets requis
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: yes

- name: Ajouter la clé GPG officielle de Docker
  shell: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/docker-archive-keyring.gpg


- name: Ajouter le repository Docker
  copy:
    dest: /etc/apt/sources.list.d/docker.list
    content: "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable\n"

- name: Installer Docker et Docker Compose
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: latest
    update_cache: yes

- name: S'assurer que l'utilisateur peut utiliser Docker sans sudo
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Créer le dossier de l'application
  file:
    path: "{{ app_dest }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Copier afpabike avec rsync
  ansible.posix.synchronize:
    src: "{{ role_path }}/files/afpabike/"
    dest: "{{ app_dest }}/"
    recursive: yes

- name: Lancer Docker Compose via commande
  command: sudo docker compose up -d
  args:
    chdir: "{{ app_dest }}"
